<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>You are not allowed</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
      adipisci, dignissimos sequi quos blanditiis nostrum? Rerum nobis non fuga
      aperiam sint, at, dignissimos officiis eveniet optio, expedita quos dicta
      perspiciatis ipsum error? Voluptas, fugit. In quo, dolor consectetur
      dolore ullam sapiente architecto labore. Cupiditate, enim! Ut magnam
      mollitia veniam ratione.
    </p>
  </body>
</html>
