<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/nav.ejs')%>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias error,
      ullam nobis commodi reprehenderit molestiae enim optio laudantium incidunt
      corporis, odio id praesentium ex, inventore nulla architecto harum soluta?
      Soluta?
    </p>
  </body>
</html>
